@{
    ViewData["Title"] = "Home Page";
    var user = ViewBag.user;
    var usersRSVPs = ViewBag.userRSVPd;
}
<a href="/logout">Sign Out</a>
<h3>Welcome to the Wedding Planner, @ViewBag.user.FirstName!</h3>


<div class="weddings">
    <table class="wed_list">
        <thead>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest Count</th>
            <th>Action</th>
        </thead>
        <tbody>
            @{
                if(ViewBag.weddings != null){
                    foreach (var wedding in ViewBag.weddings){
                        <tr>
                            <td><a href="dashboard/@wedding.Id">@wedding.WedderOne.FirstName and @wedding.WedderTwo.FirstName</a></td>
                            <td>@wedding.Date</td>
                            <td>@wedding.Guests.Count</td>
                            @if(wedding.WedderOneId == user.Id || wedding.WedderTwoId == user.Id){
                                <td><a href="/delete/@wedding.Id"> Cancel Wedding</a></td>
                            } else {
                                @if(usersRSVPs.Contains(wedding.Id)){
                                    <td><a href="remguest/@wedding.Id/@user.Id">UN-RSVP</a></td>
                                } else {
                                    <td><a href="addguest/@wedding.Id/@user.Id">RSVP</a></td>
                                }
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    <a href="/add_wedding">Add a Wedding!</a>
</div>